* {
    padding: 0;
    margin: 0;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.bar > div {
    width: 25%;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: #000;
    border: 4px solid #ccc;
}

.pay-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    background-color: #ff0;
}
